<h5>
	Cart Items Popup
</h5>
<p>
	When a user click on the cart icon displayed at the right side of top menu, this cart items popup will appear. It show the list of products user has added in the cart. Each product shows product thumbnail, link to product page and quantity of the product in cart. User can go to Checkout page to confirm the order or close this popup by clicking on the available options in popup footer.  
	<br />
	<i>URL:</i> <code>-</code>
	<br />
	<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/cart-items-popup-page.png" /> 
</p>