<h5>
	Home Page
</h5>
<p>
	This is the home page of eCommerce MVC. It will list the most recently added/updated products from database. At the top there is a carousel slider which can be configured from <a href="https://sajjadarifgul.github.io/eCommerceMVCDocs/configurations.html"><code>Configurations</code></a> section.
	<br />
	<i>URL:</i> <code>/</code>
	<br />
	<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/home-page.png" /> 
</p>