<h5>
	Order Tracking Page
</h5>
<p>
	After placing any order, user is redirected to this Tracking page. User can also open this page from direct link in the top menu and tracking link in Orders in User Profile. This page has a text input where order id is needed. After adding order id and clicking on <kbd>Track Order</kbd> button, order details will be displayed.
	<br />
	This page will have multiple accordions, each of which contain specific information related to order.
	<br />
	<i>URL:</i> <code>/tracking/{order-id}</code>
	<br />
	<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/order-tracking-page.png" /> 
</p>