<h5>
	Product Details Page
</h5>
<p>
	When a user clicks on any product link from <code>Home</code> page or <code>Featured products</code> or any other place, eCommerce MVC will open that product details. Product pictures are displayed in a carousel slider at the top. Product description can be formatted with different HTML tags which is added from Product Action from Dashboard. 
	<br />
	There are user comments and rating at the bottom of product description. Users must be logged in to comment and rate the product. Product rating can be between 1 - 5 star. The average of all ratings is shown at the right side top of comments section.
	<br />
	There are <kbd>Add to Cart</kbd> buttons at the top and bottom of product description. If a user click on any of them the specific product will be added to the cart in 1 quantity. If a user wants to change quantity, a numeric up down is available with each Add to Cart button. This numeric up down has a minimum limit of 1.
	<div class="alert alert-danger my-0" role="alert">
		On the right sidebar of this page, latest most <code>Featured Products</code> will be shown. Any product can be made featured by checking <code>Is Featured</code> checkbox in Product Action screen in dashboard. 
	</div>
	<br />
	<i>URL:</i> <code>/{product-category-name}/product/{product-id}</code>
	<br />
	<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/product-details-page.png" /> 
</p>