<h5>
	Search Products Page
</h5>
<p>
	eCommerce MVC allows user to search by any category. This page will show products from selected category.
	<div class="alert alert-danger my-0" role="alert">
		We implemented hierachical categories in eCommerce MVC. You can add sub categories to any category from Dashboard Panel. When user searches by any category, eCommerce MVC will show products from its sub categories as well.
	</div>
	<br />
	<i>URL:</i> <code>/search/{category-name}</code>
	<br />
	<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/search-products-page.png" /> 
</p>