<h5>
	User Profile Page
</h5>
<p>
	User can view and update profile information and other data related to his profile on eCommerce MVC. There are multiple tabs for different data.
	<br />
	<i>URL:</i> <code>/profile</code>
	<ol>
		<li>
			<h6>Info Tab</h6>
			User can see and update profile information such as Full Name, Email, Username, Address etc on this tab.
			<br />
			<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/user-profile-page.png" />
		</li>
		<li>
			<h6>Change Password Tab</h6>
			User can update account password on this tab.
			<br />
			<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/user-profile-page-change-password-tab.png" />
		</li>
		<li>
			<h6>Change Avatar Tab</h6>
			User can update avatar (profile photo) on this tab.
			<br />
			<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/user-profile-page-change-avatar-tab.png" />
		</li>
		<li>
			<h6>Orders Tab</h6>
			Users can check their orders history from this tab. Each order displays Placed on Date, Amount, Order Status and Tracking link.
			<br />
			<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/user-profile-page-orders-tab.png" />
		</li>
		<li>
			<h6>Comments Tab</h6>
			Users can also see their comments made on products. Every comment shows the comment description and Rating for the product. Users can also delete their comments from this tab.
			<br />
			<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/user-profile-page-comments-tab.png" />
		</li>
	</ol>
</p>