<h5>
	Comments Listing Page
</h5>
<p>
	This page will list comments made by users on products in eCommerce MVC. Users with admin role can delete these comments.
	<br />
	<i>URL:</i> <code>/dashboard/comments/</code>
	<br />
	<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/dashboard/comments-dashboard-page.png" /> 
</p>