<h5>
	Dashboard Main Page
</h5>
<p>
	This is the main page of eCommerce MVC's Dashboard Panel. User will be redirected to this page when user click on Dashboard link in sub menu in top menu of front end.
	<br />
	<i>URL:</i> <code>/dashboard/</code>
	<br />
	<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/dashboard/dashboard-page.png" /> 
</p>