<h5>
	User Details Page
</h5>
<p>
	This is the user details page. This page is similar to the user profile page. The only other tab on this page is Roles tab. Administrator can assign or remove roles from users on Roles tab.
	<br />
	<i>URL:</i> <code>/dashboard/users/userdetails/{user-id}</code>
	<ol>
		<li>
			<h6>Info Tab</h6>
			User info can be seen and updated such as Full Name, Email, Username, Address etc on this tab.
			<br />
			<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/dashboard/user-details-dashboard-page.png" />
		</li>
		<li>
			<h6>Roles Tab</h6>
			User roles can be modified on this tab.
			<br />
			<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/dashboard/user-details-dashboard-page-user-roles-tab.png" />
		</li>
		<li>
			<h6>Orders Tab</h6>
			Users orders history can be seen from this tab. Each order displays Placed on Date, Amount, Order Status and Tracking link.
			<br />
			<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/dashboard/user-details-dashboard-page-user-orders-tab.png" />
		</li>
		<li>
			<h6>Comments Tab</h6>
			Users comments history can be seen from this tab. Every comment shows the comment description and Rating for the product.
			<br />
			<img class="img-fluid img-thumbnail my-2" src="https://sajjadarifgul.github.io/eCommerceMVCDocs/images/pages-demo/dashboard/user-details-dashboard-page-user-comments-tab.png" />
		</li>
	</ol>
</p>